{% extends "base.html" %}

{% block app_content %}
    <h1>You're doing it!</h1>
    <br>
    <table class="table table-hover">
        <tr>
            <td>
                <br>
                <span id="post1">This is my one and only blog post. Can you add more using a for loop?</span><br>
                <span style="color:blue;font-size:9px;">Written By: Unknown</span>
                <br>
                <br>
                {% for post in posts %}
                    <span>{{post.body}}</span><br>
                    {% for user in users %}
                        {% if user.id == post.user_id %}
                            <span style="color:blue;font-size:9px;">Written By: {{user.username}}</span>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <br>
                {% endfor %}
            </td>
        </tr>
    </table>
    <span id="hello" style="font-size:11px;">In case you are wondering about the blog authors, I may have added a few user records into the database. It looks like there's quite a bit of code here for a lot of functionality and I thought it might be fun to try it out.</span><br>
    <span id="hello_pt2" style="font-size:11px;">I used the flask shell to create the user objects and commit them to the DB, then passed all users to the template and added a conditional to match post.user_is to user.id</span><br>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
